@font-face {
  font-family: font1;
  src: url(fonts/BrandonTextBlack.ttf);
}
body{
    background-color:#002f3e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    margin:100px auto;
    text-align:center ;
    min-height:40vh;
    background-color:#002f3e;
    border-radius:15px;
}
.content{
  padding: 20px 0;
}
.title{
  color: #bbffde;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: font1,Arial, Helvetica, sans-serif;
}
input,textarea{
    background-color:#ddf7ff;
    border:1.5px solid #ddf7ff;
    min-height: 30px;
    max-height:100px;
    width: 80%;
    border-radius:7px;
    margin-top:15px;
}
::placeholder{
  padding:10px 0 0 13px; 
  color:rgba(0,54,72,.5);
}
input.send{
    background-color:#bbffde;
    border: none;
    height:50px;
    border-radius:10px;
    margin:30px auto;
    width:40%;
    font-weight:bold ;
    color: #002f3e;
    font-size:15px;
    text-transform: uppercase;
}




.copyright{
    font-family: 'Courier New', Courier, monospace;
    font-size:14px;
    color:gray;
    text-align: center;
    margin:auto;
    
    
}
